USE [master]
GO
/****** Object:  Database [SanMarcos]    Script Date: 8/07/2021 10:45:38 ******/
CREATE DATABASE [SanMarcos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SanMarcos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SanMarcos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SanMarcos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SanMarcos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SanMarcos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SanMarcos]
GO
/****** Object:  UserDefinedFunction [dbo].[ProfesorId]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[ProfesorId]()
returns char(6)
as
begin
DECLARE @lastval Int
	set @lastval =(select MAX(Cast(right(Id_profesores,4) as int)) from Profesores)
	
	if @lastval is null set @lastval=0
	return 'P'+right('0000'+convert(varchar(10),(@lastval + 1)),4)
end
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id_alumno] [int] IDENTITY(1,1) NOT NULL,
	[CODALUMNOS]  AS ('A'+right('0000'+CONVERT([varchar],[Id_alumno]),(4))),
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Num_doc] [varchar](70) NULL,
	[Telefono] [varchar](70) NULL,
	[Estado] [varchar](70) NULL,
	[Id_curso] [int] NULL,
	[Id_matricula] [int] NULL,
 CONSTRAINT [PK_Alumnos] PRIMARY KEY CLUSTERED 
(
	[Id_alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[Id_cargo] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](70) NULL,
 CONSTRAINT [PK_Cargos] PRIMARY KEY CLUSTERED 
(
	[Id_cargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[ID_curso] [int] IDENTITY(1,1) NOT NULL,
	[CODCURSO]  AS ('C'+right('0000'+CONVERT([varchar],[ID_curso]),(4))),
	[Nombre_curso] [varchar](100) NULL,
	[Estado] [varchar](50) NULL,
	[Id_profesor] [int] NULL,
 CONSTRAINT [PK_Cursos] PRIMARY KEY CLUSTERED 
(
	[ID_curso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Matricula]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matricula](
	[Id_matricula] [int] IDENTITY(1,1) NOT NULL,
	[CODMATRICULA]  AS ('M'+right('0000'+CONVERT([varchar],[Id_matricula]),(4))),
	[Nombre] [varchar](70) NULL,
	[Apellido] [varchar](70) NULL,
	[Num_doc] [varchar](70) NULL,
	[Correo] [varchar](70) NULL,
	[Telefono] [varchar](20) NULL,
	[Fecha_deposito] [date] NULL,
	[Monto] [numeric](10, 2) NULL,
	[Banco_deposito] [varchar](70) NULL,
	[Numero_operacion] [varchar](15) NULL,
	[Estado] [varchar](20) NULL,
	[baucher] [varbinary](max) NULL,
	[extencion] [varchar](70) NULL,
	[Id_curso] [int] NULL,
 CONSTRAINT [PK_Matricula] PRIMARY KEY CLUSTERED 
(
	[Id_matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[ID_profesor] [int] IDENTITY(1,1) NOT NULL,
	[CODPROFESOR]  AS ('P'+right('0000'+CONVERT([varchar],[ID_profesor]),(4))),
	[Nombre] [varchar](100) NULL,
	[Apellido] [varchar](100) NULL,
	[Num_doc] [varchar](70) NULL,
	[Telefono] [varchar](70) NULL,
	[Correo] [varchar](100) NULL,
	[Estado] [varchar](70) NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[ID_profesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [varchar](100) NULL,
	[Apellidos] [varchar](100) NULL,
	[Correo] [varchar](100) NULL,
	[Contraseña] [varchar](100) NULL,
	[Estado] [varchar](70) NULL,
	[Id_cargo] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([Id_alumno], [Nombre], [Apellido], [Num_doc], [Telefono], [Estado], [Id_curso], [Id_matricula]) VALUES (1034, N'Fernando', N'Rojo', N'74829850', N'7777777', N'Activo', 1061, 1032)
INSERT [dbo].[Alumnos] ([Id_alumno], [Nombre], [Apellido], [Num_doc], [Telefono], [Estado], [Id_curso], [Id_matricula]) VALUES (1035, N'Matias', N'basques', N'76322123', N'8923821', N'Eliminado', 1063, 1033)
INSERT [dbo].[Alumnos] ([Id_alumno], [Nombre], [Apellido], [Num_doc], [Telefono], [Estado], [Id_curso], [Id_matricula]) VALUES (1036, N'Fernando', N'rojo', N'74829850', N'9865532', N'Activo', 1063, 1034)
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
SET IDENTITY_INSERT [dbo].[Cargos] ON 

INSERT [dbo].[Cargos] ([Id_cargo], [Cargo]) VALUES (1, N'Informatica')
INSERT [dbo].[Cargos] ([Id_cargo], [Cargo]) VALUES (2, N'Serseu')
INSERT [dbo].[Cargos] ([Id_cargo], [Cargo]) VALUES (3, N'Economia')
SET IDENTITY_INSERT [dbo].[Cargos] OFF
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

INSERT [dbo].[Cursos] ([ID_curso], [Nombre_curso], [Estado], [Id_profesor]) VALUES (1061, N'Sistemas-1', N'Activo', 31)
INSERT [dbo].[Cursos] ([ID_curso], [Nombre_curso], [Estado], [Id_profesor]) VALUES (1062, N'Sistemas-2', N'Activo', 31)
INSERT [dbo].[Cursos] ([ID_curso], [Nombre_curso], [Estado], [Id_profesor]) VALUES (1063, N'arduino-2', N'Activo', 30)
SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
SET IDENTITY_INSERT [dbo].[Matricula] ON 

SET IDENTITY_INSERT [dbo].[Matricula] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([ID_profesor], [Nombre], [Apellido], [Num_doc], [Telefono], [Correo], [Estado]) VALUES (30, N'Fernando Jesus', N'Rojo Ortiz', N'74829851', N'982665582', N'fer@gmail.com', N'Activo')
INSERT [dbo].[Profesores] ([ID_profesor], [Nombre], [Apellido], [Num_doc], [Telefono], [Correo], [Estado]) VALUES (31, N'Lucia', N'Lizeth', N'78965212', N'998823123', N'lizet@hotmail.com', N'Activo')
INSERT [dbo].[Profesores] ([ID_profesor], [Nombre], [Apellido], [Num_doc], [Telefono], [Correo], [Estado]) VALUES (32, N'Juan', N'edgar', N'76453289', N'123456789', N'Juan@gmail.com', N'Activo')
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([ID], [Nombres], [Apellidos], [Correo], [Contraseña], [Estado], [Id_cargo]) VALUES (1, N'Informatica', N'Informatica', N'informatica.fiee@unmsm.edu.pe', N'123456', N'Activo', 1)
INSERT [dbo].[Usuarios] ([ID], [Nombres], [Apellidos], [Correo], [Contraseña], [Estado], [Id_cargo]) VALUES (1006, N'serseu', N'serseu', N'ceupsfie@unmsm.edu.pe', N'123456', N'Activo', 2)
INSERT [dbo].[Usuarios] ([ID], [Nombres], [Apellidos], [Correo], [Contraseña], [Estado], [Id_cargo]) VALUES (1007, N'oficina', N'oficina', N'ofecfie@unmsm.edu.pe', N'123456', N'Activo', 3)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Cursos] FOREIGN KEY([Id_curso])
REFERENCES [dbo].[Cursos] ([ID_curso])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Cursos]
GO
ALTER TABLE [dbo].[Alumnos]  WITH CHECK ADD  CONSTRAINT [FK_Alumnos_Matricula] FOREIGN KEY([Id_matricula])
REFERENCES [dbo].[Matricula] ([Id_matricula])
GO
ALTER TABLE [dbo].[Alumnos] CHECK CONSTRAINT [FK_Alumnos_Matricula]
GO
ALTER TABLE [dbo].[Cursos]  WITH CHECK ADD  CONSTRAINT [FK_Cursos_Profesores] FOREIGN KEY([Id_profesor])
REFERENCES [dbo].[Profesores] ([ID_profesor])
GO
ALTER TABLE [dbo].[Cursos] CHECK CONSTRAINT [FK_Cursos_Profesores]
GO
ALTER TABLE [dbo].[Matricula]  WITH CHECK ADD  CONSTRAINT [FK_Matricula_Cursos] FOREIGN KEY([Id_curso])
REFERENCES [dbo].[Cursos] ([ID_curso])
GO
ALTER TABLE [dbo].[Matricula] CHECK CONSTRAINT [FK_Matricula_Cursos]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Cargos] FOREIGN KEY([Id_cargo])
REFERENCES [dbo].[Cargos] ([Id_cargo])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Cargos]
GO
/****** Object:  StoredProcedure [dbo].[bancoReport]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[bancoReport] 
@Banco varchar(100),
@Nombre varchar(100)
as
select Nombre,Apellido,Num_doc,Correo,Telefono,Monto,Banco_deposito,Numero_operacion,Fecha_deposito, Cursos.Nombre_curso from Matricula
JOIN Cursos on Cursos.ID_curso=Matricula.Id_curso where Banco_deposito=@Banco and Cursos.Nombre_curso=@Nombre
GO
/****** Object:  StoredProcedure [dbo].[BuscarAlumno]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[BuscarAlumno]
@buscador varchar(100)
as
select CODALUMNOS,Alumnos.Nombre,Alumnos.Apellido,Alumnos.Num_doc as DNI,Alumnos.Telefono,Alumnos.Estado,Matricula.CODMATRICULA,Cursos.CODCURSO from Alumnos
join Cursos on Cursos.ID_curso=Alumnos.Id_curso
join Matricula on Matricula.Id_matricula=Alumnos.Id_matricula where Alumnos.Nombre+Alumnos.Apellido+Alumnos.Estado+Alumnos.CODALUMNOS Like '%'+@buscador+'%'
GO
/****** Object:  StoredProcedure [dbo].[buscarCursoText]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[buscarCursoText]
@buscador varchar(70)
as
select CODCURSO,Nombre_curso,Cursos.Estado,Profesores.CODPROFESOR from Cursos 
join Profesores on Profesores.ID_profesor=Cursos.Id_profesor where Nombre_curso+Cursos.Estado+CODPROFESOR+CODCURSO like '%'+@buscador+'%'
GO
/****** Object:  StoredProcedure [dbo].[buscarMatriculaText]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[buscarMatriculaText]
@Buscador varchar (70)
as
select CODMATRICULA,Matricula.Nombre,Apellido,Matricula.Num_doc,Correo,Telefono,Fecha_deposito,Monto, 
		Banco_deposito,Numero_operacion,Matricula.Estado,Cursos.CODCURSO from Matricula
JOIN Cursos on Cursos.ID_curso=Matricula.Id_curso where Matricula.Nombre+Apellido+Numero_operacion+Banco_deposito+Matricula.Estado+Cursos.CODCURSO+CODMATRICULA+Matricula.Num_doc like '%'+@Buscador+'%'
GO
/****** Object:  StoredProcedure [dbo].[buscarProfesorText]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[buscarProfesorText]

@buscar varchar(50)
as
select CODPROFESOR as Codigo,Nombre,Apellido,Num_doc as DNI,Telefono,Correo,Estado from Profesores where Nombre+Apellido+Num_doc+CODPROFESOR+Estado like '%'+@buscar+'%'
GO
/****** Object:  StoredProcedure [dbo].[buscarUsrText]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[buscarUsrText] 
@buscador varchar(70)
as
select ID, Nombres,Apellidos,Correo,Contraseña,Estado,Cargos.Cargo from Usuarios
join Cargos on Cargos.Id_cargo=Usuarios.Id_cargo where Nombres+Apellidos+Cargo like '%'+@buscador+'%'
GO
/****** Object:  StoredProcedure [dbo].[deletAlumno]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletAlumno]
@Id_matricula int
as
update  Alumnos set Estado='Eliminado' where Id_matricula=@Id_matricula
GO
/****** Object:  StoredProcedure [dbo].[deletCurso]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deletCurso]
@CODCURSO varchar(50)
as
update  Cursos set Estado='Eliminado' where CODCURSO=@CODCURSO
GO
/****** Object:  StoredProcedure [dbo].[DeletProfesor]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeletProfesor]
@Id varchar(70)
as
declare
@Estado varchar(40)
set
@Estado='Eliminado'
update Profesores set Estado=@Estado where CODPROFESOR=@Id
GO
/****** Object:  StoredProcedure [dbo].[DeletUsuario]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeletUsuario]
@Id int
as
update Usuarios set Estado='Eliminado' where  ID=@Id
GO
/****** Object:  StoredProcedure [dbo].[EliminarCurso]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarCurso]
@CODCURSO varchar(70)
as
delete from Cursos where CODCURSO=@CODCURSO
GO
/****** Object:  StoredProcedure [dbo].[EliminarProfesor]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarProfesor]
@CODPROFESOR varchar(70)
as
Delete From Profesores where CODPROFESOR=@CODPROFESOR
GO
/****** Object:  StoredProcedure [dbo].[findFile]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[findFile]
@id int
as
select baucher,extencion from Matricula where Id_matricula=@id
GO
/****** Object:  StoredProcedure [dbo].[idDescProfesor]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[idDescProfesor]
as
select Id_profesores from Profesores order by Id_profesores desc;
GO
/****** Object:  StoredProcedure [dbo].[insertAlumnos]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[insertAlumnos]
@Nombre varchar(100),
@Apellido varchar(100),
@Num_doc varchar(70),
@Telefono varchar(70),
@Id_curso int,
@Id_matricula int
as
declare
@Estado varchar(70)
set
@Estado='Activo'
if exists(select * from Alumnos where Num_doc=@Num_doc and Id_curso=@Id_curso)
raisError('Este alumno ya existe en este curso',16,1)
else
insert into Alumnos values(@Nombre,@Apellido,@Num_doc,@Telefono,@Estado,@Id_curso,@Id_matricula)
GO
/****** Object:  StoredProcedure [dbo].[insertCurso]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertCurso]
@Nombre_Curso varchar(70),
@Id_profesor int
as
declare
@Estado varchar(70)
set
@Estado='Activo'
if exists(select * from Cursos where Nombre_curso=@Nombre_Curso)
raiserror ('Ya existe este Curso',16,1)
else
insert into Cursos values(@Nombre_Curso,@Estado,@Id_profesor)
GO
/****** Object:  StoredProcedure [dbo].[insertMatricula]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertMatricula]
@Nombre varchar(70),
@Apellido varchar(70),
@Num_doc varchar (70),
@Correo varchar(70),
@Telefono varchar(20),
@Fecha_deposito Date,
@Monto numeric(10,2),
@Banco_deposito varchar(70),
@Numero_operacion varchar(15),
@baucher varbinary(max),
@extencion varchar(70),
@Id_curso int
as
declare
@Estado varchar(20)
set
@Estado='Activo'

if exists(select * from Matricula where Num_doc=@Num_doc and Id_curso=@Id_curso)
raisError('Este alumno ya existe en este curso',16,1)
else
insert into Matricula values(@Nombre,@Apellido,@Num_doc,@Correo,@Telefono,
		@Fecha_deposito,@Monto,@Banco_deposito,@Numero_operacion,@Estado,@baucher,@extencion,@Id_curso)
GO
/****** Object:  StoredProcedure [dbo].[InsertProfesor]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertProfesor]

@Nombre varchar(100),
@Apellido varchar(100),
@Num_doc varchar(70),
@Telefono varchar(70),
@Correo varchar(100)
as
declare
@Estado varchar(50)
set
@Estado='Activo'
insert into Profesores values
(
@Nombre,
@Apellido,
@Num_doc,
@Telefono,
@Correo,
@Estado
)
GO
/****** Object:  StoredProcedure [dbo].[insertUsuario]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[insertUsuario]

@Nombres varchar(100),
@Apellidos varchar(100),
@Correo varchar(100),
@Contraseña varchar(100),
@Id_cargo int
as
declare
@Estado varchar(70)
set
@Estado='Activo'
if exists(select * from Usuarios where Nombres=@Nombres and Apellidos=@Apellidos)
raiserror('Ya existe este usuario',16,1)
else
insert into Usuarios values(@Nombres,@Apellidos,@Correo,@Contraseña,@Estado,@Id_cargo)
GO
/****** Object:  StoredProcedure [dbo].[LoginSanM]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[LoginSanM]
@user varchar(100),
@pass varchar(100)
as
select * from Usuarios where Correo=@user and Contraseña=@pass and Estado='Activo'
GO
/****** Object:  StoredProcedure [dbo].[newMatricula]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[newMatricula] 
-- Add the parameters for the stored procedure here
@nombreTabla varchar(100) 
AS
BEGIN
   Execute ('Create TABLE '+@nombreTabla+'(Id_matricula int IDENTITY(1,1) primary key NOT NULL ,[CODMATRICULA]  AS (''M''+right(''0000''+CONVERT([varchar],[Id_matricula]),(4))), Nombre varchar(70),Apellido varchar(70),Correo 
   varchar(70),Telefono varchar(20),Fecha_deposito date,Monto numeric(10,2),Banco_deposito varchar(70),Numero_operacion varchar(15), Estado varchar(20))')
END
GO
/****** Object:  StoredProcedure [dbo].[NumACurso]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NumACurso]
@Curso varchar(70)
as

select Matricula.Nombre,Matricula.Apellido,Matricula.Num_doc,Matricula.Correo,Cursos.Nombre_curso,Matricula.Estado  from Cursos
join Matricula on Matricula.Id_curso=Cursos.ID_curso where Cursos.Nombre_curso=@Curso
GO
/****** Object:  StoredProcedure [dbo].[NumACursoEstado]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[NumACursoEstado]
@Curso varchar(70),
@Estado varchar(70)
as
select Matricula.Nombre,Matricula.Apellido,Matricula.Num_doc,Matricula.Correo,Cursos.Nombre_curso,Matricula.Estado  from Cursos
join Matricula on Matricula.Id_curso=Cursos.ID_curso where Cursos.Nombre_curso=@Curso and Matricula.Estado=@Estado
GO
/****** Object:  StoredProcedure [dbo].[ReportAlumno]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ReportAlumno]
@Numdoc varchar(70)
as
select Nombre,Apellido,Num_doc,Correo,Telefono,Monto,Banco_deposito,Numero_operacion,Fecha_deposito, Cursos.Nombre_curso from Matricula
JOIN Cursos on Cursos.ID_curso=Matricula.Id_curso where Num_doc=@Numdoc
GO
/****** Object:  StoredProcedure [dbo].[ReportAlumnos]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ReportAlumnos]
@Estado varchar(70)
as
select Nombre,Apellido,Num_doc,Correo,Telefono,Monto,Banco_deposito,Numero_operacion,Fecha_deposito, Cursos.Nombre_curso from Matricula
JOIN Cursos on Cursos.ID_curso=Matricula.Id_curso where Matricula.Estado=@Estado
GO
/****** Object:  StoredProcedure [dbo].[ReporteProfesor]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ReporteProfesor]
@Num_doc varchar(100)
as
select Profesores.Nombre,Profesores.Apellido,Profesores.Num_doc,Telefono,Correo,Cursos.Nombre_curso from Cursos
join Profesores on Profesores.ID_profesor=Cursos.Id_profesor and Profesores.Num_doc=@Num_doc
GO
/****** Object:  StoredProcedure [dbo].[ReporteProfesores]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[ReporteProfesores]
@Estado varchar(100)
as
select Profesores.Nombre,Profesores.Apellido,Profesores.Num_doc,Telefono,Correo,Cursos.Nombre_curso from Cursos
join Profesores on Profesores.ID_profesor=Cursos.Id_profesor and Profesores.Estado=@Estado
GO
/****** Object:  StoredProcedure [dbo].[SumaAlumno]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SumaAlumno] 
@Numdoc varchar(70)
as
select sum(Monto)as total from Matricula where Num_doc=@Numdoc
GO
/****** Object:  StoredProcedure [dbo].[TablasMatricula]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[TablasMatricula]
as
SELECT *
FROM INFORMATION_SCHEMA.TABLES 
GO
/****** Object:  StoredProcedure [dbo].[updateAlumno]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateAlumno]
@Nombre varchar(100),
@Apellido varchar(100),
@Num_doc varchar(70),
@Telefono varchar(70),
@Estado varchar(70),
@Id_curso int,
@CODMATRICULA int
as
update Alumnos set Nombre=@Nombre,Apellido= @Apellido,Num_doc=@Num_doc,Telefono=@Telefono,Estado=@Estado, Id_curso=@Id_curso where Id_matricula=@CODMATRICULA
GO
/****** Object:  StoredProcedure [dbo].[updateCurso]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateCurso]
@CODCURSO varchar(50),
@Nombre_Curso varchar(70),
@Estado varchar(70),
@Id_profesor int

as
if exists(select* from Cursos where Nombre_curso=@Nombre_Curso and CODCURSO<>@CODCURSO)
raiserror('Este Curso ya existe',16,1)
else
update Cursos set Nombre_curso=@Nombre_Curso,Estado=@Estado, Id_profesor=@Id_profesor where CODCURSO=@CODCURSO
GO
/****** Object:  StoredProcedure [dbo].[UpdateFile]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateFile]
@id int,
@File varbinary(max),
@extencion varchar(70)
as
update Matricula set baucher=@File,extencion=@extencion where Id_matricula=@id
GO
/****** Object:  StoredProcedure [dbo].[UpdateMatricula]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateMatricula]
@CODMATRICULA varchar(70),
@Nombre varchar(70),
@Apellido varchar(70),
@Num_doc varchar(70),
@Correo varchar(70),
@Telefono varchar(20),
@Fecha_deposito Date,
@Monto numeric(10,2),
@Banco_deposito varchar(70),
@Numero_operacion varchar(15),
@Estado varchar(50),
@Id_curso int
as
Update Matricula set Nombre=@Nombre,Apellido=@Apellido,Num_doc=@Num_doc,Correo=@Correo,Telefono=@Telefono,Fecha_deposito=@Fecha_deposito,
		Monto=@Monto,Banco_deposito=@Banco_deposito,Numero_operacion=@Numero_operacion,Estado=@Estado,Id_curso=@Id_curso
		where CODMATRICULA=@CODMATRICULA
GO
/****** Object:  StoredProcedure [dbo].[UpdateProfesor]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateProfesor]
@CODPROFESOR varchar(70),
@Nombre varchar(100),
@Apellido varchar(100),
@Num_doc varchar(100),
@Telefono varchar(100),
@Correo varchar(100),
@Estado varchar(100)
as
update Profesores set Nombre=@Nombre,Apellido=@Apellido,Num_doc=@Num_doc,Telefono=@Telefono, Estado=@Estado,Correo=@Correo where CODPROFESOR=@CODPROFESOR
GO
/****** Object:  StoredProcedure [dbo].[UpdateUsuario]    Script Date: 8/07/2021 10:45:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[UpdateUsuario]
@Id int,
@Nombres varchar(100),
@Apellidos varchar(100),
@Correo varchar(100),
@Contraseña varchar(100),
@Estado varchar(70),
@Id_cargo int
as
update Usuarios set Nombres=@Nombres,Apellidos=@Apellidos,Correo=@Correo,Contraseña=@Contraseña,Estado=@Estado,Id_cargo=@Id_cargo
where ID=@Id
GO
USE [master]
GO
